/* COMMONS */

main h2,
article h3 {
  margin-bottom: 1em;
  font-size: 2.2rem;
  color: #692e0b;
  font-weight: 900;
}

/* MAIN */

main {
  font-family: sans-serif;
  padding: 1em;
}

main h2 {
  margin-bottom: 1em;
  font-size: 2.2rem;
  color: #692e0b;
  font-weight: 900;
}

/* CARDS */

section {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  font-size: 10px;
  border-radius: 50px;
  margin: 10px;
}

.card img {
  width: 300px;
}

/* ARTICLE */

article h3 {
  margin: 1em 0;
}

/* MEDIA */

@media screen and (max-width: 450px) {
  nav {
    margin: auto;
  }

  main {
    margin: auto;
  }

  nav li {
    order: 2;
  }

  nav #shop {
    order: 1;
    flex-grow: 3;
    justify-content: space-evenly;
    font-size: 1.5em;
  }

  nav ul img {
    width: 50px;
  }
}

@media screen and (min-width: 576px) {
  .article {
    width: 500px;
  }
}
